@model IEnumerable<Category>

@{
    ViewData["Title"] = "Kategori Listesi";
}

<div class="card ">
    <div class="card-body ">
        <table class="table">
            <thead>
                <tr>
                    <th>KATEGORİ ADI</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var category in Model)
                {
                    <tr>
                        <td>@category.Name</td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@category.Id" class="btn btn-warning">DÜZENLE</a> |
                            <a asp-action="Delete" asp-route-id="@category.Id" class="btn btn-danger">SİL</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <p>
            <a asp-action="Create" class="btn btn-primary">YENİ KATEGORİ EKLE</a>
        </p>

    </div>
</div>